<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.team.mapper.DeptMapper">
	<resultMap type="cn.team.bean.Dept" id="DeptMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	
	
	<resultMap type="cn.team.bean.User" id="UserMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="status" property="status"/>
		<collection property="roles" ofType="cn.team.bean.Role">
			<id column="role_id" property="id"/>
			<result column="role_name" property="name"/>
			<result column="nameZh" property="nameZh"/>
		</collection>	
		<collection property="depts" ofType="cn.team.bean.Dept">
			<id column="dept_id" property="id"/>
			<result column="dept_name" property="name"/>
		</collection>
		
	</resultMap>

	<select id="getDeptById" parameterType="int" resultMap="DeptMap">
		select * from dept
		where id = #{id}
	</select>
	
	<select id="getAllUserByDeptId" resultMap="UserMap">
		SELECT
			users.id,
			users.username,
			users. PASSWORD,
			role.id AS role_id,
			role. NAME AS role_name,
			role.nameZh,
			dept.id AS dept_id,
			dept. NAME AS dept_name,
			users.`status`
		FROM
			users,
			user_role,
			role,
			dept,
			dept_role
		WHERE
			users.id = user_role.user_id
		  AND user_role.role_id = role.id
		  AND user_role.role_id = dept_role.role_id
		  AND dept_role.dept_id = dept.id
		  AND dept.id = #{id}
	</select>
	
	
	<select id="getAllDept" resultMap="DeptMap">
		select * from dept
	</select>

	<insert id="addDept">
		insert into dept(name,parentId)
		value(#{name},#{parentId})
	</insert>
	
	<update id="updateDept">
		 update dept
        <set>
            <if test="name!=null and name != ''">
                name = #{name},
            </if>
            <if test="parentId !=null and parentId != ''">
                parentId = #{parentId},
            </if>
            <if test="status !=null and status != ''">
                status = #{status},
            </if>
            <!--<if test="createTime !=null and createTime != ''">-->
                <!--createTime = #{createTime},-->
            <!--</if>-->
			<if test="createTime !=null">
				createTime = #{createTime},
			</if>
            <if test="updateTime !=null">
                updateTime = #{updateTime}
            </if>
 
        </set>
        where dept.id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteDeptById">
		delete from dept where dept.id = #{id}
	</delete>

	<!-- 删除部门对应的角色 -->
	<delete id = "deleteRoleByDeptId">
		delete from dept_role where dept_id=#{dId}
	</delete>

	<!-- 添加部门与角色 -->
	<insert id = "addRoleForDept">
		INSERT INTO dept_role(dept_id,role_id) VALUES
		<foreach collection="rIds" separator="," item="rid">
			(#{dId},#{rid})
		</foreach>
	</insert>

	<!-- 使用内连接查询 -->
	<select id="findDeptsByRoleid" resultMap="DeptMap">
		SELECT
			dept.id,
			dept.`name`,
			dept.parentId,
			dept.createTime,
			dept.updateTime,
			dept.`status`
		FROM
			dept_role
				INNER JOIN dept ON dept_role.dept_id = dept.id
		WHERE
			dept_role.role_id = #{rid}

	</select>


</mapper>