<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.team.mapper.RoleMapper">
    <select id="roles" resultType="cn.team.bean.Role">
        SELECT * FROM role;
    </select>
    <insert id="addNewRole">
        INSERT INTO role set name=#{role},nameZh=#{roleZh}
    </insert>
    <delete id="deleteRoleById" parameterType="Long">
        DELETE FROM role WHERE id=#{rid}
    </delete>
    
    <select id="findUserByRoleId">
    	select users.username from users,user_role
    	where user_role.user_id=users.id and user_role.role_id=#{rid}
    </select>
    
    <update id="updateRole">
    	update role set role.name=#{name},role.nameZh=#{nameZh} where role.id=#{id}
    </update>
</mapper>